<content-actions></content-actions>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary with-search animated fadeInUp">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
                        <h3>
                            Номенклатура <discription ng-if="order != null">(заказ "{{order.code}}")</discription>
                            <a ng-if="order != null" href="javascript:window.history.back(-1)" class="pull-right ng-scope">Назад</a>
                        </h3>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                        <input ng-model="_filter._$" type="text" name="criteria" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && list.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <div class="switches">
                    <switch color="warning" ng-model="filter.false">В работе</switch>
                    <switch color="success" ng-model="filter.true">Исполненно</switch>
                </div>
                <tree-dnd ng-if="!loading"
                    tree-class="table table-bordered table-hover table-text-center"
                    tree-data="(list | filter:filterBy)"
                    primary-key="treeId"
                    column-defs="defaults"
                    tree-control="treeControl"
                    filter="_filter"
                    icon-leaf="fa fa-fw fa-cogs"
                    icon-expand="fa fa-fw fa-arrow-right"
                    icon-collapse="fa fa-fw fa-arrow-down"
                    template-url="app/theme/components/treeDnD/template-render.html"
                    expand-on="expanding_property"
                ></tree-dnd>
            </div>
        </div>
    </div>
</div>