<content-actions></content-actions>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary with-search animated fadeInUp">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
                        <h3>
                            Список заказов <discription ng-if="clientName != null">(от клиента "{{clientName}}")</discription>
                            <a ng-if="clientName != null" href="javascript:window.history.back(-1)" class="pull-right ng-scope">Назад</a>
                        </h3>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                        <input ng-model="search.$" type="text" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-show="!loading && ((list | filter:filterBy) | filter:search) == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <div class="switches">
                    <switch color="primary" ng-model="filter[1]">Заказ</switch>
                    <switch color="warning" ng-model="filter[2]">В работе</switch>
                    <switch color="success" ng-model="filter[3]">Исполнено</switch>
                </div>
                <table ng-show="!loading" class="table table-bordered table-hover table-text-center table-with-labels">
                    <thead>
                    <tr ng-if="((list | filter:filterBy) | filter:search) != 0" class="black-muted-bg">
                        <td class="first-fixed"></td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('code')">Шифр</button>
                            <span class="sortorder" ng-show="propertyName === 'code'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td ng-if="clientName != null">
                            <button class="btn btn-link" ng-click="sortBy('clientName')">Клиент</button>
                            <span class="sortorder" ng-show="propertyName === 'clientName'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateCreation')">Дата создания</button>
                            <span class="sortorder" ng-show="propertyName === 'dateCreation'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateStart')">Дата начала</button>
                            <span class="sortorder" ng-show="propertyName === 'dateStart'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateEnd')">Дата исполнения</button>
                            <span class="sortorder" ng-show="propertyName === 'dateEnd'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateDeadline')">Срок исполнения</button>
                            <span class="sortorder" ng-show="propertyName === 'dateDeadline'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td width="165px"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="list.length != 0" ng-repeat="(key, item) in list | filter:filterBy | filter:search | orderBy:propertyName:reverse" class="no-top-border" ng-class="{active: item.id == current}">
                        <td>
                            <span class="label" ng-class="(item.statusCode == 1) ? 'label-primary' : (item.statusCode == 2) ? 'label-warning' : 'label-success'">{{item.status}}</span>
                        </td>
                        <td>
                            <span ng-hide="listEdit[item.id]">{{item.code}}</span>
                            <span ng-show="listEdit[item.id]" class="editable-wrap"><div class="editable-controls form-group">
                                <input type="text" class="form-control" ng-model="listEdit.editable.code" placeholder="Шифр заказа">
                            </div></span>
                        </td>
                        <td ng-if="clientName != null">
                            <span ng-hide="listEdit[item.id]">{{item.clientName}}</span>
                            <span ng-show="listEdit[item.id]" class="form-horizontal editable-wrap"><div class="editable-controls form-group ui-select-fixed">
                                <ui-select ng-model="selected.client">
                                    <ui-select-match placeholder="Клиент...">{{$select.selected.value.name}}</ui-select-match>
                                    <ui-select-choices repeat="client.value as (key, client) in clients | filter: {value:{name:$select.search}}">
                                        <span ng-bind-html="client.value.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <div class="no-found">
                                            По этому запросу ничего не найдено.
                                        </div>
                                    </ui-select-no-choice>
                                </ui-select>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="listEdit[item.id]">{{item.dateCreation != null ? (item.dateCreation | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="listEdit[item.id]" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-10" ng-click="calendar.dateCreation[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="listEdit.editable.dateCreation"
                                            is-open="calendar.dateCreation[item.id].opened" datepicker-options="calendar.dateCreation.options"
                                            show-button-bar="false" datepicker-append-to-body="true"
                                            ng-change="calendar.checkDate(1, listEdit.editable.dateCreation)">
                                        {{listEdit.editable.dateCreation != null ? (listEdit.editable.dateCreation | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateCreation, item)"
                                            ng-mouseenter="calendar.dateCreation.tooltips.today = true"
                                            ng-mouseleave="calendar.dateCreation.tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateCreation.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="listEdit[item.id]">{{item.dateStart != null ? (item.dateStart | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="listEdit[item.id]" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateStart[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="listEdit.editable.dateStart"
                                            is-open="calendar.dateStart[item.id].opened" datepicker-options="calendar.dateStart.options"
                                            show-button-bar="false" datepicker-append-to-body="true"
                                            ng-change="calendar.checkDate(2, listEdit.editable.dateStart)">
                                        {{listEdit.editable.dateStart != null ? (listEdit.editable.dateStart | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateStart)"
                                            ng-mouseenter="calendar.dateStart.tooltips.today = true"
                                            ng-mouseleave="calendar.dateStart.tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateStart.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateStart)"
                                            ng-mouseenter="calendar.dateStart.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateStart.tooltips.clear = false">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom-right"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateStart.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="listEdit[item.id]">{{item.dateEnd != null ? (item.dateEnd | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="listEdit[item.id]" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateEnd[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="listEdit.editable.dateEnd"
                                            is-open="calendar.dateEnd[item.id].opened" datepicker-options="calendar.dateEnd.options"
                                            show-button-bar="false" datepicker-append-to-body="true" ng-disabled="listEdit.editable.dateStart == null"
                                            ng-change="calendar.checkDate(3, listEdit.editable.dateEnd)">
                                        {{listEdit.editable.dateEnd != null ? (listEdit.editable.dateEnd | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateEnd)"
                                            ng-mouseenter="calendar.dateEnd.tooltips.today = true"
                                            ng-mouseleave="calendar.dateEnd.tooltips.today = false"
                                            ng-disabled="listEdit.editable.dateStart == null">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateEnd)"
                                            ng-mouseenter="calendar.dateEnd.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateEnd.tooltips.clear = false"
                                            ng-disabled="listEdit.editable.dateStart == null">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom-right"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="listEdit[item.id]">{{item.dateDeadline != null ? (item.dateDeadline | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="listEdit[item.id]" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateDeadline[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="listEdit.editable.dateDeadline"
                                            is-open="calendar.dateDeadline[item.id].opened" datepicker-options="calendar.dateDeadline.options"
                                            show-button-bar="false" datepicker-append-to-body="true"
                                            ng-change="calendar.checkDate(4, listEdit.editable.dateDeadline)">
                                        {{listEdit.editable.dateDeadline != null ? (listEdit.editable.dateDeadline | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateDeadline)"
                                            ng-mouseenter="calendar.dateDeadline.tooltips.today = true"
                                            ng-mouseleave="calendar.dateDeadline.tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateDeadline.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateDeadline)"
                                            ng-mouseenter="calendar.dateDeadline.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateDeadline.tooltips.clear = false">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom-right"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateDeadline.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td class="align-right">
                            <span ng-hide="listEdit[item.id]">
                                <button type="button" class="btn btn-xs btn-no-transform btn-info" ng-click="editItem(item)"><i class="ng-scope fa fa-pencil"></i></button>
                                <a ui-sref="nomenclature-custom({id: item.id})" class="btn btn-xs btn-no-transform btn-primary">Номенклатура</a>
                            </span>
                            <span ng-show="listEdit[item.id]">
                                <button type="button" class="btn btn-xs btn-no-transform btn-danger" ng-click="abortItem(item)"><i class="fa fa-undo"></i></button>
                                <button type="button" class="btn btn-xs btn-no-transform btn-success" ng-click="saveItem(item)"><i class="fa fa-floppy-o"></i> Сохранить</button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>