<content-actions></content-actions>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary with-search animated fadeInUp">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
                        <h3>
                            Список заказов <discription ng-if="clientName != null">(от клиента "{{clientName}}")</discription>
                            <a ng-if="clientName != null" ui-sref="clients" class="pull-right ng-scope">Назад</a>
                        </h3>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                        <input ng-model="search.$" type="text" name="criteria" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && ((list | filter:filterBy) | filter:search) == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <div class="switches">
                    <switch color="primary" ng-model="filter[1]">Заказ</switch>
                    <switch color="warning" ng-model="filter[2]">В работе</switch>
                    <switch color="success" ng-model="filter[3]">Исполнено</switch>
                </div>
                <table ng-if="!loading" class="table table-bordered table-hover table-text-center table-with-labels">
                    <thead>
                    <tr ng-if="((list | filter:filterBy) | filter:search) != 0" class="black-muted-bg">
                        <td class="first-fixed"></td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('code')">Шифр</button>
                            <span class="sortorder" ng-show="propertyName === 'code'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td ng-if="showClient">
                            <button class="btn btn-link" ng-click="sortBy('clientName')">Клиент</button>
                            <span class="sortorder" ng-show="propertyName === 'clientName'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateCreation')">Дата создания</button>
                            <span class="sortorder" ng-show="propertyName === 'dateCreation'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateStart')">Дата начала</button>
                            <span class="sortorder" ng-show="propertyName === 'dateStart'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateEnd')">Дата исполнения</button>
                            <span class="sortorder" ng-show="propertyName === 'dateEnd'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="sortBy('dateDeadline')">Срок исполнения</button>
                            <span class="sortorder" ng-show="propertyName === 'dateDeadline'" ng-class="{reverse: reverse}"></span>
                        </td>
                        <td width="165px"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="list.length != 0" ng-repeat="(key, item) in list | filter:filterBy | filter:search | orderBy:propertyName:reverse" class="no-top-border" ng-class="{active: item.id == current}">
                        <td ng-init="labelClass = (item.statusCode == 1) ? 'label-primary' : (item.statusCode == 2) ? 'label-warning' : 'label-success'">
                            <span class="label" ng-class="labelClass">{{item.status}}</span>
                        </td>
                        <td>
                            <span ng-hide="item.edit">{{item.code}}</span>
                            <span ng-show="item.edit" class="editable-wrap"><div class="editable-controls form-group">
                                <input type="text" name="name" required="required" class="form-control" ng-model="item.code">
                            </div></span>
                        </td>
                        <td ng-if="showClient">
                            <span ng-hide="item.edit">{{item.clientName}}</span>
                            <span ng-show="item.edit" class="editable-wrap"><div class="editable-controls form-group">
                                <input type="text" name="name" required="required" class="form-control" ng-model="item.clientName">
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="item.edit">{{item.dateCreation != null ? (item.dateCreation | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="item.edit" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateCreation[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="item.dateCreation"
                                            is-open="calendar.dateCreation[item.id].opened" datepicker-options="calendar.options"
                                            current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"
                                            show-button-bar="false" datepicker-append-to-body="true">
                                        {{item.dateCreation != null ? (item.dateCreation | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateCreation)"
                                            ng-mouseenter="calendar.dateCreation[item.id].tooltips.today = true"
                                            ng-mouseleave="calendar.dateCreation[item.id].tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom-left"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateCreation.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateCreation)"
                                            ng-mouseenter="calendar.dateCreation.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateCreation.tooltips.clear = false">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateCreation.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="item.edit">{{item.dateStart != null ? (item.dateStart | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="item.edit" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateStart[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="item.dateStart"
                                            is-open="calendar.dateStart[item.id].opened" datepicker-options="calendar.options"
                                            current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"
                                            show-button-bar="false" datepicker-append-to-body="true">
                                        {{item.dateStart != null ? (item.dateStart | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateStart)"
                                            ng-mouseenter="calendar.dateStart.tooltips.today = true"
                                            ng-mouseleave="calendar.dateStart.tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom-left"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateStart.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateStart)"
                                            ng-mouseenter="calendar.dateStart.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateStart.tooltips.clear = false">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateStart.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="item.edit">{{item.dateEnd != null ? (item.dateEnd | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="item.edit" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateEnd[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="item.dateEnd"
                                            is-open="calendar.dateEnd[item.id].opened" datepicker-options="calendar.options"
                                            current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"
                                            show-button-bar="false" datepicker-append-to-body="true">
                                        {{item.dateEnd != null ? (item.dateEnd | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateEnd)"
                                            ng-mouseenter="calendar.dateEnd.tooltips.today = true"
                                            ng-mouseleave="calendar.dateEnd.tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom-left"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateEnd)"
                                            ng-mouseenter="calendar.dateEnd.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateEnd.tooltips.clear = false">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td>
                            <span ng-hide="item.edit">{{item.dateDeadline != null ? (item.dateDeadline | date:"dd MMMM yyyy г.") : '---'}}</span>
                            <span ng-show="item.edit" class="form-horizontal editable-wrap"><div class="editable-controls form-group">
                                <div class="btn-group calendar-btn-group btn-no-transform">
                                    <button type="button" class="btn btn-default col-md-8" ng-click="calendar.dateDeadline[item.id].opened = true"
                                            uib-datepicker-popup="dd MMMM yyyy г." ng-model="item.dateDeadline"
                                            is-open="calendar.dateDeadline[item.id].opened" datepicker-options="calendar.options"
                                            current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"
                                            show-button-bar="false" datepicker-append-to-body="true">
                                        {{item.dateDeadline != null ? (item.dateDeadline | date:"dd.MM.yyyy") : '---'}}
                                    </button>
                                    <button type="button" class="btn btn-info col-md-2" ng-click="calendar.today(calendar.dateDeadline)"
                                            ng-mouseenter="calendar.dateDeadline.tooltips.today = true"
                                            ng-mouseleave="calendar.dateDeadline.tooltips.today = false">
                                        <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom-left"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateDeadline.tooltips.today" uib-tooltip="Сегодня"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger col-md-2" ng-click="calendar.clear(calendar.dateDeadline)"
                                            ng-mouseenter="calendar.dateDeadline.tooltips.clear = true"
                                            ng-mouseleave="calendar.dateDeadline.tooltips.clear = false">
                                        <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom"
                                           tooltip-animation="false" tooltip-is-open="calendar.dateDeadline.tooltips.clear" uib-tooltip="Очистить"></i>
                                    </button>
                                </div>
                            </div></span>
                        </td>
                        <td class="align-right">
                            <span ng-hide="item.edit">
                                <button type="button" class="btn btn-xs btn-no-transform btn-info" ng-click="editItem(item)"><i class="ng-scope fa fa-pencil"></i></button>
                                <a ui-sref="nomenclature-custom({id: item.id})" class="btn btn-xs btn-no-transform btn-primary">Номенклатура</a>
                            </span>
                            <span ng-show="item.edit">
                                <button type="button" class="btn btn-xs btn-no-transform btn-success" ng-click="saveItem(item)"><i class="fa fa-floppy-o"></i> Сохранить</button>
                                <button type="button" class="btn btn-xs btn-no-transform btn-danger" ng-click="abortItem(item)"><i class="fa fa-undo"></i></button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>