<table class="table-with-labels" ng-class="$tree_class">
    <thead>
    <tr class="black-muted-bg">
        <th ng-if="expandingProperty.firstStatus" class="first-fixed"></th>
        <th ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle" compile="expandingProperty.titleTemplate">
            {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
        </th>
        <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle" compile="col.titleTemplate">
            {{col.displayName || col.field}}
        </th>
    </tr>
    </thead>
    <tbody tree-dnd-nodes="tree_nodes">
    <tr tree-dnd-node="node" ng-repeat="node in nodes track by node.__hashKey__ "
        ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
        ng-class="(enabledFilter ? (node.__filtered__ === true? 'success': '') : '') + (node.__expanded__ || (node.__level__ > 1) ? ' active':'')"
        ng-click="onSelect(node)"
        collapsed="true">
        <td ng-if="expandingProperty.firstStatus">
            <span class="label ng-binding" ng-class="node.status ? 'label-success' : 'label-warning'">
                {{node.status != undefined ? (node.status ? "Исполнено" : "В работе") : ""}}
            </span>
        </td>
        <td ng-if="!expandingProperty.template" tree-dnd-node-handle
            ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
            ng-class="expandingProperty.cellClass"
            compile="expandingProperty.cellTemplate">
            <a data-nodrag>
                <i ng-class="$icon_class" ng-click="toggleExpand(node)"
                   class="tree-icon"></i>
            </a>
            {{node[expandingProperty.field] || node[expandingProperty]}}
        </td>
        <td ng-if="expandingProperty.template" compile="expandingProperty.template"></td>
        <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
            ng-if="!(col.colspan && $eval(col.colspan) === 0)"
            colspan="{{!col.colspan ? 1 : $eval(col.colspan)}}"
            compile="col.cellTemplate">
            {{node[col.field]}}
        </td>
    </tr>
    </tbody>
</table>