<content-actions></content-actions>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary with-search with-scroll xmedium-panel animated fadeInLeft">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <h3>Список клиентов</h3>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input ng-model="search" type="text" name="criteria" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-show="!loading && filtred.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <table ng-if="!loading" class="table table-hover">
                    <tr ng-repeat="(key, item) in filtred" ng-click="showInfo(key)" ng-class="{active: key == current}" class="no-top-border">
                        <td ng-class="nowrap">{{item.name}}</td>
                        <td class="align-right">
                            <a ui-sref="orders-custom({id: item.id})" class="btn btn-xs btn-primary">Заказы</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary with-search with-scroll xmedium-panel animated fadeInRight">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">Описание</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-show="!loading && filtred.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <div ng-if="!loading && filtred.length">
                    <div class="row">
                        <div class="col-md-12">
                            <pre class="text">{{(current == null) ? 'Клиент не выбран.' : isNull(filtred[current].description) ? 'Нет информации.' : filtred[current].description}}</pre>
                        </div>
                    </div>
                    <div class="row" ng-repeat="(key, client) in filtred" ng-show="key == current">
                        <div ng-show="(client.additions != null && client.additions.length > 0)" class="col-md-12 adds">
                            <a ng-repeat="file in client.additions" class="btn btn-primary btn-xs" href="/files/{{file.versions[0].id}}/{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>