<content-actions></content-actions>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary with-search with-scroll xmedium-panel animated fadeInLeft">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <h3>Список клиентов</h3>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input ng-model="search.name" type="text" name="criteria" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && list.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <table ng-if="!loading" class="table table-hover">
                    <tr ng-if="list.length != 0" ng-repeat="item in list | filter:search" ng-click="showInfo(item.id)" ng-class="{active: item.id == current}" class="no-top-border">
                        <td ng-class="nowrap">{{item.name}}</td>
                        <td class="align-right">
                            <a ui-sref="orders-custom({id: item.id})" class="btn btn-xs btn-primary">Заказы</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary with-search with-scroll xmedium-panel animated fadeInRight">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">Описание</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && list.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <div ng-if="!loading && list.length != 0">
                    <div class="row">
                        <div class="col-md-12">
                            <pre class="text">{{client.info}}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="(client.files != null && client.files.length != 0)" class="col-md-12 adds">
                            <a ng-repeat="file in client.files" class="btn btn-primary btn-xs" href="/files/{{file.id}}/{{file.name}}" download="">{{file.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>