<div ng-if="showActions" class="row">
    <div class="col-md-12">
        <div class="panel with-scroll content-actions">
            <div class="panel-body">
                <h2>Действия</h2>
                <div class="actions">
                    <div class="swap-container">
                        <div ng-animate-swap="actions" class="cell swap-animation">
                            <button ng-repeat="(key, item) in actions" type="button" class="btn" ng-class="item.class" ng-click="action(key)">
                                <i ng-if="item.iconClass !== null" ng-class="item.iconClass"></i>
                                {{item.text}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>