<content-actions></content-actions>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary with-search animated fadeInUp">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12 hidden-sm hidden-xs">
                        <h3>
                            Деталь{{ (preview.detail.name && preview.detail.code ? " " + preview.detail.name +
                            " (" + preview.detail.code + ")" : (preview.detail.name) ? " " + preview.detail.name : "") }}
                            <a href="javascript:window.history.back(-1)" class="pull-right">Назад</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && list.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <div ng-if="!loading">
                    <div class="row">
                        <div class="col-md-5" ng-show="edit" ng-class="edit ? 'animated fadeIn' : ''">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="usm_detail_name" class="col-md-3 control-label">Имя детали</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Имя детали"
                                           id="usm_detail_name"
                                           name="usm_detail_name"
                                           ng-model="detail.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usm_detail_group" class="col-md-3 control-label">Группа детали</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Группа детали"
                                               id="usm_detail_group"
                                               name="usm_detail_group"
                                               ng-model="detail.group"
                                               bs3-typeahead bs3-source="groups" bs3-minLength="0" bs3-items="all">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usm_detail_code" class="col-md-3 control-label">Шифр детали</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Шифр детали"
                                           id="usm_detail_code"
                                           name="usm_detail_code"
                                           ng-model="detail.code">
                                    </div>
                                </div>
                                <div class="form-group btn-no-transform">
                                    <label class="col-md-3 control-label">Шифр заказа</label>
                                    <div class="col-md-4">
                                        <ui-select allow-clear on-select="ordersObj.client.change()" ng-model="selected.client">
                                            <ui-select-match placeholder="Клиент...">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in clients | filter: $select.search">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-4">
                                        <ui-select allow-clear on-select="ordersObj.order.change()" ng-model="selected.order">
                                            <ui-select-match placeholder="Заказ...">{{$select.selected.code}}</ui-select-match>
                                            <ui-select-choices repeat="item in (orders | filter:filterBy) | filter: $select.search">
                                                <span ng-bind-html="item.code | highlight: $select.search"></span>
                                                <small ng-bind-html="(item.clientName ? '('+item.clientName+')' : '') | highlight: $select.search"></small>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                <div class="no-found">
                                                    По этому запросу ничего не найдено.
                                                </div>
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <button class="btn btn-danger" ng-click="ordersObj.clear()"
                                        tooltip-placement="top-right" uib-tooltip="Очистить"><i class="fa fa-times"></i></button>
                                </div>
                                <div class="form-group">
                                    <label for="usm_detail_dateCreation" class="col-md-3 control-label">Дата создания</label>
                                    <div class="col-md-9 btn-group btn-no-transform">
                                        <button type="button" class="btn btn-default col-md-9" ng-click="calendar.dateCreation.open()"
                                                uib-datepicker-popup="dd MMMM yyyy г." ng-model="calendar.dateCreation.date"
                                                is-open="calendar.dateCreation.opened" datepicker-options="calendar.dateCreation.options"
                                                current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"
                                                ng-change="calendar.dateCreation.change()" show-button-bar="false">
                                            {{calendar.dateCreation.date ? (calendar.dateCreation.date | date:"dd MMMM yyyy г.") : '---'}}
                                        </button>
                                        <button type="button" class="btn btn-info col-md-1" ng-click="calendar.today(calendar.dateCreation)"
                                                ng-mouseenter="calendar.dateCreation.tooltips.today = true"
                                                ng-mouseleave="calendar.dateCreation.tooltips.today = false">
                                            <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom-left"
                                                tooltip-animation="false" tooltip-is-open="calendar.dateCreation.tooltips.today" uib-tooltip="Сегодня"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger col-md-1" ng-click="calendar.clear(calendar.dateCreation)"
                                                ng-mouseenter="calendar.dateCreation.tooltips.clear = true"
                                                ng-mouseleave="calendar.dateCreation.tooltips.clear = false">
                                            <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom"
                                                tooltip-animation="false" tooltip-is-open="calendar.dateCreation.tooltips.clear" uib-tooltip="Очистить"></i>
                                        </button>
                                        <button id="usm_detail_dateCreation" type="button"
                                                ng-mouseenter="calendar.dateCreation.tooltips.calendar = true"
                                                ng-mouseleave="calendar.dateCreation.tooltips.calendar = false"
                                                class="btn btn-default col-md-1" ng-click="calendar.dateCreation.open()">
                                            <i class="fa fa-calendar" tooltip-trigger="none" tooltip-placement="bottom-right"
                                                tooltip-animation="false" tooltip-is-open="calendar.dateCreation.tooltips.calendar" uib-tooltip="Календарь"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usm_detail_dateEnd" class="col-md-3 control-label">Дата исполнения</label>
                                    <div class="col-md-9 btn-group btn-no-transform">
                                        <button type="button" class="btn btn-default col-md-9" ng-click="calendar.dateEnd.open()"
                                                uib-datepicker-popup="dd MMMM yyyy г." ng-model="calendar.dateEnd.date"
                                                is-open="calendar.dateEnd.opened" datepicker-options="calendar.dateEnd.options"
                                                current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"
                                                show-button-bar="false" datepicker-append-to-body>
                                            {{calendar.dateEnd.date ? (calendar.dateEnd.date | date:"dd MMMM yyyy г.") : '---'}}
                                        </button>
                                        <button type="button" class="btn btn-info col-md-1" ng-click="calendar.today(calendar.dateEnd)"
                                                ng-mouseenter="calendar.dateEnd.tooltips.today = true"
                                                ng-mouseleave="calendar.dateEnd.tooltips.today = false">
                                            <i class="fa fa-calendar-times-o" tooltip-trigger="none" tooltip-placement="bottom-left"
                                               tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.today" uib-tooltip="Сегодня"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger col-md-1" ng-click="calendar.clear(calendar.dateEnd)"
                                                ng-mouseenter="calendar.dateEnd.tooltips.clear = true"
                                                ng-mouseleave="calendar.dateEnd.tooltips.clear = false">
                                            <i class="fa fa-calendar-o" tooltip-trigger="none" tooltip-placement="bottom"
                                               tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.clear" uib-tooltip="Очистить"></i>
                                        </button>
                                        <button id="usm_detail_dateEnd" type="button"
                                                ng-mouseenter="calendar.dateEnd.tooltips.calendar = true"
                                                ng-mouseleave="calendar.dateEnd.tooltips.calendar = false"
                                                class="btn btn-default col-md-1" ng-click="calendar.dateEnd.open()">
                                            <i class="fa fa-calendar" tooltip-trigger="none" tooltip-placement="bottom-right"
                                               tooltip-animation="false" tooltip-is-open="calendar.dateEnd.tooltips.calendar" uib-tooltip="Календарь"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-hide="edit" ng-class="edit ? '' : 'animated fadeIn'">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Имя детали</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">{{detail.name}}</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="detail.group == '' || detail.group == null">
                                    <label class="col-md-5 control-label">Группа детали</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">{{detail.group}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Шифр детали</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">{{detail.code}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Шифр заказа</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">{{selected.order.code + " (" + selected.client.name + ")"}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Дата создания</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">
                                            {{calendar.dateCreation.date ? (calendar.dateCreation.date | date:"dd MMMM yyyy г.") : '---'}}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Дата исполнения</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">
                                            {{calendar.dateEnd.date ? (calendar.dateEnd.date | date:"dd MMMM yyyy г.") : '---'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-class="edit ? 'col-md-7' : 'col-md-9'">
                            <div ng-show="detail.pattern.length > 0 || edit || new.patterns.length > 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="file-collection">
                                            <h2>Чертежи</h2>
                                            <button ng-show="edit" type="button" id="add-image" class="btn btn-primary btn-sm pull-right"
                                                 uib-tooltip="Добавить чертеж" tooltip-placement="left"
                                                 ng-click="modal()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-info" ng-show="new.patterns.length > 0">
                                            <div id="new-patterns" ng-repeat="(key, image) in new.patterns" class="image-collection">
                                                <div class="image-preview">
                                                    <div class="image-mask"></div>
                                                    <div class="image-actions">
                                                        <div class="image-actions-content">
                                                            <button class="btn btn-success btn-image-action" ng-click="openGallery('new', key)">Просмотр <i class="fa fa-eye"></i></button>
                                                            <button class="btn btn-danger btn-image-action" ng-click="delNewImage(key)">Удалить <i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </div>
                                                    <img ng-src="{{image.img}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-default" ng-show="detail.pattern.length > 0 || edit">
                                            <h3 ng-hide="detail.pattern.length > 0">Чертежей нет.</h3>
                                            <div ng-repeat="(fKey, file) in detail.pattern" class="image-collection">
                                                <div class="image-preview">
                                                    <div class="image-mask" ng-class="new.update.patterns[file.id] ? 'updated' : ''"></div>
                                                    <div class="image-actions">
                                                        <div class="image-actions-content">
                                                            <button class="btn btn-success btn-image-action" ng-click="openGallery('main', fKey)">Просмотр <i class="fa fa-eye"></i></button>
                                                            <div class="btn-group btn-block" uib-dropdown dropdown-append-to-body="true">
                                                                <button class="btn btn-primary btn-image-action" uib-dropdown-toggle>
                                                                    Все версиии
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                                    <li role="menuitem" ng-repeat="(vKey, version) in file.versions">
                                                                        <a href ng-click="openGallery(file.id, vKey);">{{version.date}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="btn-group btn-block" ng-show="edit">
                                                                <button class="btn btn-info btn-image-action bi-checkbox">
                                                                    <i ng-class="new.update.patterns[file.id] ? 'fa-check-square-o' : 'fa-square-o'" class="fa"></i>
                                                                </button>
                                                                <button class="btn btn-info btn-image-action bi-btn"
                                                                    ng-click="modalActions.update(file.id)">Изменить</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img ng-src="/files/h/180/{{file.versions[0].id}}/{{file.name}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="detail.model.length > 0 || edit || new.models().length > 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="file-collection">
                                            <h2>Модели</h2>
                                            <div ng-show="edit" class="btn btn-primary btn-sm btn-file pull-right"
                                                 uib-tooltip="Добавить модель" tooltip-placement="left">
                                                <i class="fa fa-plus"></i>
                                                <input id="add-model" name="models[]" type="file" multiple="multiple" onchange="angular.element(this).scope().change.add.model(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="new-models" class="alert alert-info" ng-show="new.models().length > 0">
                                            <ul>
                                                <li ng-repeat="models in new.models()">{{models.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="alert alert-default files" ng-show="detail.model.length > 0 || edit">
                                            <h3 ng-hide="detail.model.length > 0">Моделей нет.</h3>
                                            <div class="btn-group" uib-dropdown ng-repeat="model in detail.model">
                                                <button class="btn btn-xs" ng-class="new.update.models[model.id] ? 'btn-info' : 'btn-primary'" uib-dropdown-toggle>
                                                    {{model.versions[0].date}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                    <li role="menuitem" ng-show="edit">
                                                        <div class="btn-file">
                                                            Обновить файл<input type="file" name="file_id_{{model.id}}" data-id="{{model.id}}"
                                                                onchange="angular.element(this).scope().change.update.model(this)">
                                                        </div>
                                                    </li>
                                                    <li role="menuitem" ng-repeat="version in model.versions">
                                                        <a href="/files/{{version.id}}/{{model.name}}" download="{{model.name}}">{{version.date}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="detail.project.length > 0 || edit || new.projects().length > 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="file-collection">
                                            <h2>Проекты</h2>
                                            <div ng-show="edit" class="btn btn-primary btn-sm btn-file pull-right"
                                                 uib-tooltip="Добавить проект" tooltip-placement="left">
                                                <i class="fa fa-plus"></i>
                                                <input id="add-project" name="projects[]" type="file" multiple="multiple"
                                                       onchange="angular.element(this).scope().change.add.project(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="new-projects" class="alert alert-info" ng-show="new.projects().length > 0">
                                            <ul>
                                                <li ng-repeat="newProject in new.projects()">{{newProject.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="alert alert-default files" ng-show="detail.project.length > 0 || edit">
                                            <h3 ng-hide="detail.project.length > 0">Проектов нет.</h3>
                                            <div class="btn-group" uib-dropdown ng-repeat="project in detail.project">
                                                <button class="btn btn-xs" ng-class="new.update.projects[project.id] ? 'btn-info' : 'btn-primary'" uib-dropdown-toggle>
                                                    {{project.versions[0].date}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                    <li role="menuitem" ng-show="edit">
                                                        <div class="btn-file">
                                                            Обновить файл<input type="file" name="file_id_{{project.id}}" data-id="{{project.id}}"
                                                                onchange="angular.element(this).scope().change.update.project(this)">
                                                        </div>
                                                    </li>
                                                    <li role="menuitem" ng-repeat="version in project.versions">
                                                        <a href="/files/{{version.id}}/{{project.name}}" download="{{project.name}}">{{version.date}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button ng-show="edit" ng-click="switchEdit()" type="button" class="btn btn-danger pull-right"><i class="fa fa-ban"></i> Отменить</button>
                <span class="pull-right">&nbsp;&nbsp;</span>
                <button ng-show="edit || edited" ng-click="saveData()" type="button" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Сохранить</button>
            </div>
        </div>
    </div>
</div>
<ng-image-gallery
    images="gallery.images"
    methods="gallery.methods"
    thumbnails="false"
    bg-close="true"
></ng-image-gallery>