<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary with-search animated fadeInDown">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
                        <h3>
                            Список заказов <discription ng-if="clientName != null">(от клиента "{{clientName}}")</discription>
                            <a ng-if="clientName != null" ui-sref="home" class="pull-right ng-scope">Назад</a>
                        </h3>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                        <input ng-model="search" type="text" name="criteria" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && list.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <table ng-if="!loading" class="table table-bordered table-hover">
                    <thead>
                    <tr ng-if="list.length != 0" class="black-muted-bg">
                        <td class="align-center">Шифр</td>
                        <td ng-if="showClient" class="align-center">Клиент</td>
                        <td class="align-center">Статус</td>
                        <td class="align-center">Дата создания</td>
                        <td class="align-center">Дата начала</td>
                        <td class="align-center">Дата исполнения</td>
                        <td class="align-center">Срок исполнения</td>
                        <td class="align-right"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="list.length != 0" ng-repeat="item in list | filter:search" class="no-top-border" ng-class="{active: item.id == current}">
                        <td class="align-center">{{item.code}}</td>
                        <td ng-if="showClient" class="align-center">{{item.clientName}}</td>
                        <td class="align-center">{{item.status}}</td>
                        <td class="align-center">{{item.dateCreation}}</td>
                        <td class="align-center">{{(item.dateStart == null) ? '---' : item.dateStart}}</td>
                        <td class="align-center">calculated value</td>
                        <td class="align-center">{{(item.deadline == null) ? '---' : item.deadline}}</td>
                        <td class="align-right">
                            <a ui-sref="nomenclature-custom({id: item.id})" class="btn btn-xs btn-primary">Номенклатура</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>