<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary with-search animated fadeInDown">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
                        <h3>
                            Номенклатура <discription ng-if="order != null">(заказ "{{order.code}}")</discription>
                            <a ng-if="order != null" ui-sref="orders-custom({id: order.clientId})" class="pull-right ng-scope">Назад</a>
                        </h3>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                        <input ng-model="search" type="text" name="criteria" class="form-control" placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="loading" class="no-data">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-if="!loading && list.length == 0" class="no-data">
                    <i class="fa fa-exclamation-triangle"></i>
                    Нет данных
                </div>
                <table ng-if="!loading" class="table table-bordered table-hover">
                    <thead>
                    <tr ng-if="list.length != 0" class="black-muted-bg">
                        <td class="align-center">Шифр детали</td>
                        <td class="align-center">Имя детали</td>
                        <td ng-if="showOrder" class="align-center">Шифр заказа</td>
                        <td class="align-center">Чертеж</td>
                        <td class="align-center">Модель</td>
                        <td class="align-center">Проект</td>
                        <td class="align-center">Дата создания</td>
                        <td class="align-center">Дата окончания</td>
                        <td class="align-right"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="list.length != 0" ng-repeat="item in list | filter:search" class="no-top-border" ng-class="{active: item.id == current}">
                        <td class="align-center">{{item.code}}</td>
                        <td class="align-center">{{item.name}}</td>
                        <td ng-if="showOrder" class="align-center"><a ui-sref="nomenclature-custom({id: item.orderId})"></a>{{item.orderCode}}</td>
                        <td class="align-center">{{(item.pattern == null) ? '---' : item.pattern}}</td>
                        <td class="align-center">{{(item.model == null) ? '---' : item.model}}</td>
                        <td class="align-center">{{(item.project == null) ? '---' : item.project}}</td>
                        <td class="align-center">{{item.dateCreation}}</td>
                        <td class="align-center">{{(item.dateStart == null) ? '---' : item.dateStart}}</td>
                        <td class="align-right"><button class="btn btn-xs btn-primary">Кнопка</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>