<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="modalActions.close()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{currModal.title}}</h4>
  </div>
  <div class="modal-body">
    <div ng-include="currModal.page"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="modalActions.close()">Закрыть</button>
  </div>
</div>
